.App {
  text-align: center;
}

.books-wrapper,
.book-detail-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-wrapper {
  width: 22rem;
}

.card-image {
  height: 32em;
}
